/* NOTE:
TYPOGRAPHY
Site Name / Logo - Abril Fatface
Titles - MONTSERRAT NORMAL ALL CAPS
Body Text - Montserrat Extra Light
COLOURS
#14141C
#D2E4DD
#647E76
#2C4D43
*/
/* BASE CODE BEGIN */
/* Universal */
* {
  box-sizing: border-box;
}

/* Text */
body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #14141C;
}

h1, h2, h3 {
  line-height: 1.5;
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

/* Images */
img {
  width: 100%;
}

/* Links */
a {
  color: #14141C;
}

a:visited {
  color: #14141C;
}

a:hover {
  color: #D2E4DD;
}

a:focus {
  color: #D2E4DD;
}

a:active {
  color: #D2E4DD;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #D2E4DD;
  color: #14141C;
  font-weight: 400;
  padding: 12px;
  border-radius: 0px;
  text-decoration: none;
  transition: 0.2s background-colour, 0.2s color;
}

.button:hover {
  background-color: #a1b2ab;
  color: #ffffff;
}

.button:active {
  background-color: #a1b2ab;
  color: #ffffff;
}

.logo {
  max-width: 80px;
}

.social svg {
  max-width: 32px;
  text-align: left;
}

/* Layout Styling */
.container {
  padding: 0 15px;
  /* 0 top and bottom, 15px left and right */
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#projects .row {
  padding-bottom: 25px;
}

#hero h1 {
  text-align: center;
  color: #6B887B;
}

#hero {
  text-align: center;
  background-color: #ffffff;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#intro span {
  display: block;
}

header {
  background-color: #ffffff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 98px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 5px;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #D2E4DD;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #14141C;
  text-decoration: none
}

nav>ul>li>a:hover {
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #D2E4DD;
  text-decoration: none
}

nav>ul>li>a:focus {
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #D2E4DD;
  text-decoration: none
}

nav>ul>li>a:active {
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #D2E4DD;
  text-decoration: none
}

footer {
  text-align: center;
  background-color: #d2e4dd;
  padding-top: 15px;
  padding-bottom: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 1em;
}

.copyright {
  font-size: 50%;
}

#more .button {
  margin-bottom: 20px;
}

/* BASE CODE END */

/* Media Queries */
/* Medium */
@media only screen and (min-width: 640px) {
  nav {
    width: auto;
    float: right;
    margin-top: 13px;
  }

  main {
    padding-top: 105px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  [class*="col-"] {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6 {
    width: 50%;
  }

  #more .button {
    margin-left: 95px;
  }

  #introduction .button {
    margin-left: 95px
  }

  #projects .row {
    padding-bottom: 35px;
  }

  #projects h2 {
    padding-left: 20px;
  }

  #about h3 {
    margin-top: 0;
  }

  #gratefruit p, #gratefruit h2 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  #introduction p, #introduction h2 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  #info p, #info h2, #info h3 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  #info .row {
    margin-left: 75px;
  }

  body {
    font-size: 17px;
  }

  .logo {
    max-width: 100px;
  }

  .social svg {
    max-width: 36px;
    text-align: left;
  }
}

/* Large */
@media only screen and (min-width: 1024px) {
  nav {
    width: auto;
    float: right;
    margin-top: 16px;
  }

  .col-lg-4 {
    width: 33%;
  }

  .col-lg-8 {
    width: 67%;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #projects .row {
    padding-bottom: 40px;
  }

  #gratefruit p, #gratefruit h2 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #introduction p, #introduction h2 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #info p, #info h2, #info h3 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #more .button {
    margin-left: 200px;
  }

  body {
    font-size: 18px;
  }

  .logo {
    max-width: 110px;
  }

  .social svg {
    max-width: 40px;
    text-align: left;
  }
}

/* Extra Large */
@media only screen and (min-width: 1440px) {
  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-8 {
    width: 67%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #projects .row {
    padding-bottom: 40px;
  }

  #gratefruit p, #gratefruit h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #introduction p, #introduction h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #info p, #info h2, #info h3 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #more .button {
    margin-left: 200px;
  }

  body {
    font-size: 18px;
  }

  .logo {
    max-width: 120px;
  }

  .social svg {
    max-width: 44px;
    text-align: left;
  }
}

/* CSS Animation */
@keyframes color-change {
  0% {
    fill: #ffeaa7;
  }

  50% {
    fill: #CDB877;
  }

  100% {
    fill: #9b884a;
  }
}

.sky {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes sun-move {
  from {
    transform: translate(40, 600px);
  }

  to {
    transform: translate(200px, 600px);
  }
}

.sun {
  animation-duration: 9s;
  animation-name: sun-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
